# Please follow suitable version specifiers, as outlined in https://www.python.org/dev/peps/pep-0440/#version-specifiers
# For Django versioning we use ~= (e.g. Django~=3.2.0) which will keep the minor version up to date (e.g. the latest version prior to 3.3.0)

Django~=4.2.0
psycopg~=3.1.8
flake8~=4.0.1
Pillow~=9.1.0
gunicorn~=20.1.0
django-recaptcha~=3.0.0
django-embed-video~=1.4.0
pandas~=1.4.3
openpyxl~=3.0.10
XlsxWriter~=3.0.3
django-cleanup~=6.0.0