{% extends "base.html" %}
{% load static %}

{% block main %}

<section class="container">
    <h2>Edit Exercise</h2>
    <form method="post" class="full-form" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit"><i class="fas fa-check"></i> Save</button>
    </form>
    <div class="full-form-footer-links">
        <a href="{% url 'exercises:delete' exercise.id %}">Delete this exercise</a>
    </div>
</section>


<script>
    $(document).ready(function() {

        // Show/hide specific fields dynamically
        {% if exercise.exercise_format.name != 'Image Match' %}
            $('#id_exercise_format_reverse_image_match').parent().hide();
        {% endif %}
        
        // Filter select lists
        // "Owned By" and "Collaborators" lists to hide non-teacher users
        $('#id_owned_by option, #id_collaborators option').each(function(){
            if (!$(this).text().includes('(teacher)')) $(this).remove();
        });

    });
</script>

{% endblock %}