{% extends "base.html" %}
{% load settings_value %}
{% load static %}

{% block main %}

<section class="container">

    <h2>Export Data: Student Scores</h2>

    <p>
        To download students' scores data as an Excel spreadsheet, please choose from the available options below and click download. If you don't specify options then all students' score data will be downloaded.
    </p>
    <p>
        If you have any issues please <a href="mailto:{% settings_value 'ADMIN_EMAIL' %}">contact us for support</a>.
    </p>

    <form class="full-form" action="{% url 'exercises:exportdata-excel-studentscores' %}">

        <h3>Classes</h3>
        {% for class in classes %}
            <label><input type="checkbox" id="filter_classes_{{ class.id }}" class="filter_classes" name="filter_classes" value="{{ class.id }}"> {{ class }}</label>
        {% endfor %}

        <button type="submit"><i class="fas fa-arrow-alt-circle-down"></i> Download</button>
    </form>

</section>

{% endblock %}