{% for fitb in exercise.exerciseformatfillintheblank_set.all %}

    <div class="exerciseformat-fillintheblank">

        <!-- Source -->
        <div class="exerciseformat-fillintheblank-source" dir="auto">

            {% include "exercises/snippets/force-dir-auto.html" with text=fitb.source_text_or_audiomsg %}
            
            {% include "exercises/snippets/audio.html" with audio=fitb.source_audio id=forloop.counter|add:100000 %}
            
            <!-- Only show counter if there are multiple -->
            {% if exercise.exerciseformatfillintheblank_set.all.count > 1 %}
                {{ forloop.counter }}.
            {% endif %}
            {{ fitb.source_text_or_audiomsg }}
        </div>

        <!-- Fill in the blanks -->
        <div class="exerciseformat-fillintheblank-fitb" dir="auto">
            {% include "exercises/snippets/force-dir-auto.html" with text=fitb.text_with_blanks_to_fill_html %}
            
            {% include "exercises/snippets/audio.html" with audio=fitb.text_with_blanks_to_fill_audio id=forloop.counter %}
            {{ fitb.text_with_blanks_to_fill_html | safe | linebreaks }}
        </div>

        <!-- Result -->
        <div class="exerciseformat-fillintheblank-result">
        </div>

        {% include 'exercises/snippets/exercise-content-edit-link.html' with id=fitb.id %}

    </div>
{% empty %}
    {% include 'exercises/snippets/exercise-content-empty.html' %}
{% endfor %}

<script>
$(document).ready(function() {
    // Click button to score attempt
    $('#exercise-detail-footer-check').on('click', function(){
        var score = 0;
        $('.exerciseformat-fillintheblank-fitb-item').each(function(){
            var answerAttempt = $(this).find('input').val();
            var answerCorrect = $(this).find('input').attr('data-correct').split("*");  // Make list of answers
            // Correct
            if (answerCorrect.indexOf(answerAttempt) >= 0) {
                var result = '<span class="exercise-result-correct"><i class="fas fa-check"></i> Correct</span>';
                score++;
            }
            // Unanswered
            else if (answerAttempt == "") var result = '<span class="exercise-result-unanswered"><i class="fas fa-question"></i> Unanswered</span>';
            // Wrong
            else var result = '<span class="exercise-result-wrong"><i class="fas fa-times"></i> Wrong</span>';
            // Set individual results
            $(this).find('.exerciseformat-fillintheblank-fitb-item-result').html(result);
        });
        // Set total results
        var questionCount = $('.exerciseformat-fillintheblank-fitb-item').length;
        var scorePercent = Math.round(parseFloat(score/questionCount) * 100);
        $('#exercise-detail-footer-score').html("Score: " + score + "/" + questionCount + " (<span id='exercise-detail-footer-score-val'>" + scorePercent + "</span>%)" );
    });
});
</script>