{% for im in exercise.exerciseformatimagematch_set.all %}

    <div class="exerciseformat-imagematch" id="exerciseformat-imagematch-{{ forloop.counter }}">

        <div class="exerciseformat-imagematch-title">Image {{ forloop.counter }}</div>

        {% include "exercises/snippets/audio.html" with audio=im.label_audio id=forloop.counter %}

        <select dir="rtl">
            <option value="">-- Please select --</option>
            {% for label in exercise.image_match_label_options %}
                {% comment %}Set value to 1 if a match or 0 if not a match{% endcomment %}
                <option value="{% if im.label == label %}1{% else %}0{% endif %}" dir="auto">
                    {{ label }}
                </option>
            {% endfor %}
        </select>

        <a href="{{ im.image.url }}" target="_blank">
            <img src="{{ im.image.url }}" alt="Match the image to the label">
        </a>

        {% if not exercise.is_a_formal_assessment %}
            <div class="exerciseformat-showanswer">
                <label><i class="fas fa-info-circle"></i> Show answer</label>
                <div class="answer">
                    <div class="answer-text">Answer: {{ im.label }}</div>
                    {% if im.correct_answer_feedback %}
                        <div class="answer-feedback">{{ im.correct_answer_feedback | safe }}</div>
                    {% endif %}
                </div>
            </div>
        {% endif %}

        <div class="exerciseformat-imagematch-result">
        </div>

        {% include 'exercises/snippets/exercise-content-edit-link.html' with id=im.id %}

    </div>
{% empty %}
    {% include 'exercises/snippets/exercise-content-empty.html' %}
{% endfor %}
