{% for mc in exercise.exerciseformatmultiplechoice_set.all %}

    <div id="exerciseformat-multiplechoice-{{ forloop.counter }}" class="exerciseformat-multiplechoice">

        <!-- Question -->
        <div class="exerciseformat-multiplechoice-question" dir="auto">
            {% include "exercises/snippets/force-dir-auto.html" with text=mc.question_text_or_audiomsg %}
            <!-- Question text -->
            <div>
                {{ forloop.counter }}. {{ mc.question_text_or_audiomsg | safe }}
                {% include "exercises/snippets/audio.html" with audio=mc.question_audio id=forloop.counter %}
            </div>
        </div>

        <!-- Options -->
        <div class="exerciseformat-multiplechoice-options">
            {% for option in mc.options %}
                <div class="exerciseformat-multiplechoice-options-option{% if option.1 %} hasaudio{% endif %}" dir="auto">
                    {% include "exercises/snippets/force-dir-auto.html" with text=option.0 %}
                    <!-- Value is 1 if correct answer or 0 if not -->
                    <input type="checkbox" id="option-{{ mc.id }}-{{ forloop.counter }}" name="{{ mc.id }}" value="{{ option.3 }}">
                    <label for="option-{{ option.2 }}">
                        {{ option.0 | safe }}
                    </label>
                    {% include "exercises/snippets/audio.html" with audio=option.1 id=option.2 %}
                </div>
            {% endfor %}
        </div>

        {% if not exercise.is_a_formal_assessment %}
            <div class="exerciseformat-showanswer">
                <label><i class="fas fa-eye"></i> Show answer</label>
                <div class="answer">
                    <div class="answer-text">Answer:<br>{{ mc.answer_text | safe }}</div>
                    {% if mc.correct_answer_feedback or mc.correct_answer_feedback_audio %}
                        <div class="answer-feedback">
                            {{ mc.correct_answer_feedback | safe }}
                            {% include "exercises/snippets/audio.html" with audio=mc.correct_answer_feedback_audio id=forloop.counter|add:100000 %}
                        </div>
                    {% endif %}
                </div>
            </div>
        {% endif %}

        <div class="exerciseformat-multiplechoice-result">
        </div>

        {% include 'exercises/snippets/exercise-content-edit-link.html' with id=mc.id %}

    </div>
{% empty %}
    {% include 'exercises/snippets/exercise-content-empty.html' %}
{% endfor %}
