{% for t in exercise.exerciseformattranslation_set.all %}

    <div class="exerciseformat-translation">

        <!-- Source: Image -->
        {% if t.translation_source_image %}
            <div class="exerciseformat-translation-source-image">
                <div id="exerciseformat-translation-source-image-container-{{forloop.counter}}" class="exerciseformat-translation-source-image-container">
                    <img src="{{ t.translation_source_image.url }}" id="main-img-{{ forloop.counter }}" class="main-img" alt="Translation image">
                    <div id="zoomed-img-{{ forloop.counter }}" class="zoomed-img" style="background: url('{{ t.translation_source_image.url }}') no-repeat #F7F7F7;"></div>
                </div>
                <a class="exerciseformat-translation-source-image-fullsize" href="{{ t.translation_image.url }}" target="_blank">View full size <i class="fas fa-expand-arrows-alt"></i></a>
            </div>
        <!-- Source: Text -->
        {% elif t.translation_source_text %}
            <div class="exerciseformat-translation-source-text">
                {{ t.translation_source_text }}
            </div>
        <!-- Source: None -->
        {% elif user.is_staff %}
            <div class="exerciseformat-translation-source-none">
                <p>
                    WARNING: No valid source material (image or text) has been provided for this translation!
                </p>
                <p>
                    Please edit this translation and add either an image or text source
                </p>
            </div>
        {% endif %}

        <!-- User's attempt -->
        <div class="exerciseformat-translation-userattempt">
            <!-- Header -->
            <label for="translation-translate">
                Write your translation below:
            </label>
            <!-- Input -->
            <textarea id="translation-translate" dir="auto"></textarea>
            {% if not exercise.is_a_formal_assessment %}
                <!-- Show answer -->
                <div class="exerciseformat-showanswer exerciseformat-showanswer-selfmark">
                    <label><i class="fas fa-info-circle"></i> Show answer</label>
                    <div class="answer" dir="auto">
                        <div class="answer-text">Answer:<br>{{ t.correct_translation | linebreaks }}</div>
                        {% if t.correct_answer_feedback %}
                            <div class="answer-feedback">{{ t.correct_answer_feedback | safe }}</div>
                        {% endif %}
                    </div>
                </div>
            {% endif %}
        </div>

        {% include 'exercises/snippets/exercise-content-edit-link.html' with id=t.id %}

    </div>
{% empty %}
    {% include 'exercises/snippets/exercise-content-empty.html' %}
{% endfor %}

<script>
$(document).ready(function() {
    // Magnifying glass
    $('.exerciseformat-translation-source-image-container').on('mousemove', function(e){
        var this_main_img_id = $(this).find('.main-img').attr('id'),
           this_zoomed_img_id = $(this).find('.zoomed-img').attr('id'),
            original = document.getElementById(this_main_img_id),
            magnified = document.getElementById(this_zoomed_img_id),
            style = magnified.style,
            x = e.pageX - this.offsetLeft,
            y = e.pageY - this.offsetTop,
            imgWidth = original.width,
            imgHeight = original.height,
            xperc = (x / imgWidth) * 100,
            yperc = (y / imgHeight) * 100;
        // Add some margin for right edge
        if (x > 0.01 * imgWidth) xperc += 0.15 * xperc;
        // Add some margin for bottom edge
        if (y >= 0.01 * imgHeight) yperc += 0.15 * yperc;
        // Set the background of the magnified image horizontal
        style.backgroundPositionX = xperc - 9 + '%';
        // Set the background of the magnified image vertical
        style.backgroundPositionY = yperc - 9 + '%';
        // Move the magnifying glass with the mouse movement.
        var width_height_half = 125; // whatever value here (e.g. 125) must be double in CSS width & height (e.g. 250px)
        style.left = x - width_height_half + 'px';
        style.top = y - width_height_half + 'px';
    });
});
</script>