@media (max-width: 991px) {
    /* ---------- Navigation ---------- */

    nav h1 img {
        height: 1.8em;
    }

    .nav-item {
        margin: 0.5em 0;
    }

    .navbar-toggler {
        color: #FFF;
        font-size: 1.7em;
        padding-right: 0.35em;
    }

    .navbar-toggler:focus {
        outline: none;
        opacity: 0.8;
    }

    /* ---------- Main ---------- */

    main {
        margin-top: 3.39em;
        min-height: calc(100vh - 3.39em);
    }

    /* ---------- Welcome ---------- */

    #welcome-banner {
        height: 75vh;
    }

    #welcome-banner-content {
        width: 90%;
        margin-left: 5%;
        margin-top: 1vh;
        padding: 0.7em;
    }

    #welcome-banner-content img {
        width: 13em;
        max-width: 90%;
        margin: 1em 0;
    }

    #welcome-banner-content a {
        margin: 2em auto 1em;
        font-size: 1rem;
    }

    #welcome-banner-proceed {
        display: none;
    }

    /* ---------- Popup ---------- */

    .popup-content {
        width: 90%;
        max-height: 90vh;
        left: 5%;
    }

    /* ---------- Footer ---------- */

    #footer-content img {
        width: 17em;
        max-width: 100%;
        margin: 0 auto 2em auto;
        display: block;
    }
}
