@media (min-width: 992px) {
    /* ---------- Data Table ---------- */

    .data-table tr:nth-child(even) {
        background: #EEE;
    }

    .data-table td,
    .data-table th {
        padding: 0.5em;
    }

    .data-table label {
        display: none;
    }

    /* ---------- Navigation ---------- */

    nav h1 img {
        height: 2.3em;
    }

    .navbar-brand {
        padding-left: 0.3em;
    }

    .nav-link {
        margin: 0.27em 1em 0 0;
        width: 5em;
    }

    /* ---------- Main ---------- */

    main {
        margin-top: 4.7em;
        min-height: calc(100vh - 4.7em);
    }

    /* ---------- Welcome ---------- */

    #welcome-banner {
        height: calc(100vh - 4.5em);
    }

    #welcome-banner-content {
        width: 50%;
        margin: 9vh 0 0 25%;
        padding: 2em;
    }

    #welcome-banner-content img {
        width: 20em;
        max-width: 90%;
        margin-bottom: 2em;
    }

    #welcome-banner-content a {
        margin: 2.7em auto 1em;
        font-size: 1.13rem;
    }

    #welcome-banner-proceed {
        font-size: 3em;
        position: absolute;
        bottom: 0.8em;
        left: calc(50% - 40px);
        border-radius: 100%;
        width: 80px;
        height: 80px;
        text-align: center;
        background-color: white;
        color: #1779C5;
        padding-top: 0.10em;
        cursor: pointer;
        line-height: 80px;
    }

    #welcome-banner-proceed:hover {
        background-color: #F8F8F8;
    }


    /* ---------- Exercise: List ---------- */

    .exercise-list-head-form-item {
        width: 33%;
        display: inline-block;
    }

    .exercise-list-body-items-item.gridview {
        display: inline-block;
        width: calc(33% - 2em);
        vertical-align: top;
        padding: 1em;
        border: 1px solid #CCC;
    }
    
    .exercise-list-body-items-item.listview {
        display: block;
        width: 100%;
        padding: 0.7em 1em;
    }

    /* ---------- Exercise: Detail ---------- */

    .exercise-detail-footer-button {
        margin: 0 0.5em;
        padding: 0.8em 1.6em;
        padding-bottom: 0.7em;
    }

    .exercise-detail-footer-button i {
        margin-right: 0.3em;
    }

    #exercise-detail-footer-score {
        font-size: 1.3em;
    }

    #exercise-detail-footer-completed {
        float: right;
        display: block;
    }

    /* Exercise: Detail: Format: ImageMatch */

    .exerciseformat-imagematch {
        display: inline-block;
        width: calc(25% - 3.3em);
    }
    
    /* Exercise: Detail: Format: Translation */

    .exerciseformat-translation-image {
        display: inline-block;
        padding: 1em 2em;
        width: calc(50% - 6em);
        vertical-align: top;
    }

    .exerciseformat-translation-userattempt {
        display: inline-block;
        width: calc(50% - 3em);
        margin-left: 3em;
        vertical-align: top;
    }


    /* ---------- Popup ---------- */

    .popup-content {
        width: 50em;
        max-height: 75vh;
        left: calc(50% - 25em);
    }
    
    /* ---------- Footer ---------- */

    #footer-content img {
        height: 5em;
        margin: 0 auto 3em auto;
        display: block;
    }
}
