{% extends "base.html" %}
{% load static %}

{% block main %}

<section id="myaccount-details" class="container">
    <h2>My Account Details</h2>
    <form method="post" class="full-form">
        {% csrf_token %}
        {{ form.as_p }}
        <em>You have been assigned the role of <strong>{{ object.role.name }}</strong>. Please contact us if you believe this needs to be changed.</em>
        <button type="submit"><i class="fas fa-check"></i> Save changes</button>
    </form>
    <div class="full-form-footer-links">
        <a href="{% url 'logout' %}">Logout</a>
        <a href="{% url 'account:change-password' %}">Change password</a>
    </div>
</section>

{% if user.classes.all %}
    <section id="myaccount-classes" class="container">
        <h2>My Classes</h2>
        <ul>
            {% for class in user.classes.all %}
                <li>{{ class.name }}</li>
            {% endfor %}
        </ul>
    </section>
{% endif %}

<section id="myaccount-exercisehistory" class="container">
    <h2>My Exercise Attempts</h2>
    <div>
        {% for attempt in exercise_attempts %}
            <div class="myaccount-exercisehistory-item">
                <div class="myaccount-exercisehistory-item-date">
                    <label>Date: </label> {{ attempt.submit_timestamp | date:"D d M Y" }}
                </div>
                <div class="myaccount-exercisehistory-item-time">
                    <label>Time: </label> {{ attempt.submit_timestamp | time:"H:i:s" }}
                </div>
                <div class="myaccount-exercisehistory-item-score">
                    <label>Score: </label> {% if attempt.score %}{{ attempt.score_percentage }}{% else %}N/A{% endif %}
                </div>
                <div class="myaccount-exercisehistory-item-exercise">
                    <label>Exercise: </label> <a href="{% url 'exercises:detail' attempt.exercise.id %}">{{ attempt.exercise }}</a>
                </div>
            </div>
        {% empty %}
            <div id="myaccount-exercisehistory-empty">
                You've not completed any <a href="{% url 'exercises:list' %}">exercises</a> yet. When you complete an exercise, your attempt will be listed here.
            </div>
        {% endfor %}
    </div>
</section>

{% endblock %}